@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

a{
    text-decoration: none;
}

main{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 50px;
    width: 450px;
    /* border: 1px solid transparent;
    border-radius: 8px;
    background-color: rgb(240, 240, 240); */
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

main .logo{
    width: 135px;
    height: 34px;
}

.logo .logo-img{
    width: 100%;
}

main .login-title{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    color: #06706a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title .icon{
    margin-left: 5px;
    font-size: 17px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .check-log{
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    animation: wrong-logs 1s;
    color: rgb(143, 20, 20);

}



@keyframes wrong-logs {
    0%{
        transform: translateX(-30px);
    }
    20%{
        transform: translateX(30px);
    }
    40%{
        transform: translateX(-30px);

    }
    60%{
        transform: translateX(30px);

    }
    80%{
        transform: translateX(-30px);

    }
    100%{
        transform: translateX(0px);
    }
}

.form 
.password-section,
.login-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative
}

.password-section .icon,
.login-section .icon{
    position: absolute;
    top: 43%;
    left: 7%;
    color: #0E5955;
}

.password-section input,
.login-section input{
    border-radius: 25px;
    height: 40px;
    outline: none;
    border: none;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    padding: 2px 55px;
    transition: all .3s;
    margin-top: 5px;
    margin-bottom: 20px;
}

input::placeholder{
    color: #0E5955;
    font-size: 13px;
    font-weight: lighter;
}

.password-section input:focus,
.login-section input:focus{
    background-color: #06706a;
    color: aliceblue;
}

.password-section label,
.login-section label{
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
}

.log-button, .sign-up-button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    align-items: center;
}

.log-button button,
.sign-up-button button{
    border: none;
    background-color: #06706a;
    height: 35px;
    padding: 0 12px;
    border-radius: 17px;
    font-size: 14px;
    font-weight: 500px;
    font-style: italic;
    transition: all.3s;
}

.log-button button:hover,
.sign-up-button button:hover{
    transform: scale(0.98);
    background-color: #0E5955;
}

.log-button a, .sign-up-button a{
    color: black;
    font-size: 15px;
    font-style: italic;
    cursor: pointer;
    transition: all.5s;
}

.log-button a:hover{
    text-decoration: underline;
    transform: translateX(5px);
}

@media screen and (max-width:387px) {

    main{
        max-width: 300px;
        padding: 15px;
    }

    main .logo{
        width: 115px;
        height: 24px;
    }

    main .login-title{
        font-size: 17px;
    }

    .login-title .icon{
        font-size: 13px;
    }

    .password-section input,
    .login-section input{
        height: 33px;
        font-size: 13px;
        padding: 2px 50px;
    }

    .password-section label,
    .login-section label{
        font-size: 11px;
        
    }

    .log-button button
    .sign-up-button button{

        width: 100px;
        height: 33px;
        font-size: 13px;
    }

    .log-button a, .sign-up-button a{
        font-size: 13px;
        
    }

}

@media screen and (min-width:388px) and (max-width:590px) {

    main{
        max-width: 350px;
        padding: 15px 20px;
    }

    main .logo{
        width: 125px;
        height: 24px;
    }

    main .login-title{
        font-size: 22px;
    }

    .login-title .icon{
        font-size: 15px;
    }

    .password-section input,
    .login-section input{
        height: 30px;
        font-size: 15px;
        padding: 2px 55px;
    }

    .log-button a, .sign-up-button a{
        font-size: 13px;
        
    }

}

@media screen and (min-width:730px) and (max-width:1024px) {
    main{
        min-width: 550px;
    }

    main .login-title{
        font-size: 27px;
    }
    
    .login-title .icon{
        font-size: 21px;
    }

    .password-section input,
    .login-section input{
        height: 40px;
        font-size: 17px;
        padding: 2px 75px;
        border-radius: 24px;
        margin-top: 10px;
        margin-bottom: 20px;
        }

    .password-section .icon,
    .login-section .icon{
        top: 47%;
    }

    .password-section input::placeholder,
    .login-section input::placeholder{
        font-size: 14px;
    }

    .password-section label,
    .login-section label{
        font-size: 14px;
    }

}

@media screen and (min-width:1025px) {
    main{
        min-width: 600px;
    }

    main .login-title{
        font-size: 25px;
    }
    
    .login-title .icon{
        font-size: 22px;
    }

    .password-section input,
    .login-section input{
        height: 40px;
        font-size: 16px;
        padding: 2px 85px;
        border-radius: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
        }

    .password-section .icon,
    .login-section .icon{
        top: 48%;
    }

    .password-section input::placeholder,
    .login-section input::placeholder{
        font-size: 14px;
    }

    .password-section label,
    .login-section label{
        font-size: 15px;
    }

}