.error-interface{
    width: calc(100%-85px);
    margin-top: 50px;
    margin-left: 85px;
    background-color: #0e595575;
    height: 72vh;
    padding-top: 100px;
}

.error-container{
    text-align: center;
}

.error-container .error-text{
    font-size: 30px;
    font-style: italic;
    color: aliceblue;
}

.error-interface .error-icon{
    font-size: 150px;
    color: aliceblue;
}