.header{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.842);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100%-83px);
    height: 50px;
    position: fixed;
    padding: 10px 40px;
    left: 83px;
    right: 0;
    top: 0;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    z-index: 300;

}

.header .logo{
    width: 135px;
    height: 34px;
}

.logo .logo-img{
    width: 100%
}

.header .search-bar{
    position: relative;
    flex: 1;
    margin-left: 150px;
    margin-right: 150px;
}

.search-bar .search-input{
    flex: 1;
    width: 100%;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    padding: 10px 30px;
    background-color: rgb(240, 240, 240);

}

.search-bar .icon{
    position: absolute;
    top: 27%;
    right: -48px;
    width: 40px;
    transition: all.3s;
}

.search-bar .icon:hover{
    transform: scale(1.05);
}

.header-buttons .button{
    border: none;
    background-color: #06706a;
    backdrop-filter: drop-shadow(10px);
    height: 33px;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500px;
    font-style: italic;
    transition: all.3s;
    margin-left: 5px;
    margin-right: 5px;
}

.header-buttons .button:hover{
    transform: scale(0.96);
    background-color: #0E5955;
}

.notif-button{
    position: relative;
}

.notif-button span{
    position: absolute;
    top: 10%;
    right: 27%;
    font-size: 10px;
    color: red;
    font-weight: bold;
}



