@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.sidebar{
    font-family: 'Inter-Tight';
    background-color: rgba(255, 255, 255, 0.842);
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    row-gap: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    
}


.icon{
    font-size: 17px;
    color: #0E5955;
}

.hamburger-menu .icon{
    font-size: 23px;
    transition: all .4s;
}

.hamburger-menu .icon:hover{
    transform: scale(1.08);
}


.icon-tag{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 5px;
    margin-bottom: 20px;
    border-radius: 8px ;
    cursor: pointer;
    transition: all.4s;
}

.icon-tag:hover{
    background-color: #06706a;
}

.icon-tag:focus{
    background-color: #06706a;
}

.icon-tag span{
    font-size: 11px ;
    margin: 0px;
}