@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


.container{
    z-index: -100;
    font-family: 'Inter-Tight';
    padding: 60px 0 20px 95px;
}

td{
    padding: 10px 14px;
    text-align:  center;
    font-size: 14px;
    margin-right: 15px;
}

table{
    border-spacing: 0;
    max-width: calc(100%-95px);
    margin: 0 auto;
    font-style: italic;
    
}


thead tr{
    font-size: 16px;
    font-weight: 600;
    background-color: #06706b5a;
    border-radius: 5px;
}

tbody tr{
    transition: all .3s;
}

tbody tr:hover{
    background-color: #06706b13;

}

tbody tr:hover .icon{
    opacity: 1;
}

tbody .icon-button{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

tbody .icon{
    opacity: 0;
    font-size: 20px;
    transition: all .4s;

}

tbody .icon:hover{
    transform: scale(1.2);
    opacity: 1;
}

tbody .delete-icon{
    color: rgb(178, 15, 15);
}

tbody .edit-icon{
    color: #06706a;

}


.container button{
    border: 1px solid #06706b5a;
    margin-bottom: 15px;
    background-color: #06706b5a;   
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.6);
    transition: all .3s;
    font-size: 13px;
    font-style: italic;
}

.container button:hover{
    transform: scale(0.97);
}

.container-opacity{
    opacity: 0.5;
}

/* Interface add user*/

.add-form{
    font-family: 'Inter-Tight';
    max-width: 500px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    padding: 20px 30px;
    border-radius: 7px;
    font-size: 13px;
    font-style: italic;
    animation: zoom 2s alternate;
}

.add-form .add-user-section{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.add-form .add-user-section .icon{
    position: absolute;
    top: 37%;
    left: 33%;
    font-size: 12px;
}

.add-form .add-user-section label{
    display: inline-block;
    width: 100px;
    margin-right: 40px;
    text-align: center;
}



.add-form .add-user-section input,
.add-form .add-user-section select{
    height: 30px;
    flex: 1;
    outline: none;
    border: 1px;
    padding: 3px 20px 3px 50px;
    margin-right: 20px;
}

.add-form .add-user-section select{
    height: 35px;
}

.add-form .add-user-section input:focus,
.add-form .add-user-section select:focus{
    border: 1px solid #06706a;
}

.add-form button{
    margin: 0 auto;
    margin-top: 20px;
}

@keyframes zoom {
    0% {
        transform: scale(0.3);
    }

    95% {
        transform: scale(1.06);
    }

    100%{
        transform: scale(1);
    }
}

/* Interface update user*/


.update-user, .user-updated{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    column-gap: 20px;
    max-width: 440px;
    box-shadow: inset 0 0 3px #06706a;
    margin: 0 auto;
    padding: 20px;
}

.update-user{
    animation: come-in-right 3s alternate;
}

.user-updated{
    animation: go-on-left 3s alternate;
}

.update-user input,
.update-user select
{
    width: 40%;
    height: 15px;
    outline: none;
    border: none;
    font-size: 11px;
    font-style: italic;
    font-weight: 500;
    padding: 10px;
    transition: all .3s;
    margin-top: 5px;
    margin-bottom: 20px;
}

.update-user select{
    height: 35px;
    width: 44%;
}

.update-user input:focus,
.update-user select:focus{
    border: 1px solid #06706a;
}
.update-user button{
    margin-top: 8px;
    height: 30px;
}

@keyframes come-in-right {
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(0px);
    }
}


@keyframes go-on-left {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-1000px);
    }
}