@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


.container{
    z-index: -100;
    font-family: 'Inter-Tight';
    padding: 60px 15px 20px 95px;
}

td{
    padding: 10px 14px;
    text-align:  center;
    font-size: 14px;
    margin-right: 15px;
}

table{
    border-spacing: 0;
    max-width: calc(100%-95px);
    margin: 0 auto;
    font-style: italic;
    
}


thead tr{
    font-size: 16px;
    font-weight: 600;
    background-color: #06706b5a;
    border-radius: 5px;
}

tbody tr{
    transition: all .3s;
}

tbody tr:hover{
    background-color: #06706b13;

}

tbody tr:hover .icon{
    opacity: 1;
}

tbody .icon-button{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

tbody .icon{
    opacity: 0;
    font-size: 20px;
    transition: all .4s;

}

tbody .icon:hover{
    transform: scale(1.2);
    opacity: 1;
}

tbody .delete-icon{
    color: rgb(178, 15, 15);
}

tbody .edit-icon{
    color: #06706a;

}


.container button{
    border: 1px solid #06706b5a;
    margin-bottom: 15px;
    background-color: #06706b5a;   
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.6);
    transition: all .3s;
    font-size: 13px;
    font-style: italic;
}

.container button:hover{
    transform: scale(0.97);
}

.container-opacity{
    opacity: 0.1;
    z-index: -100;
}

section.before-table{
    display: flex;
    justify-content: space-between;
}

.before-table .sort-by span{
    font-style: italic;
    font-size: 13px;
    margin-right: 10px;
}

.before-table .sort-by select{
    font-style: italic;
    font-size: 12px;
    border: 1px solid #06706b5a;
    color: #06706a;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.6);
    width: 100px;
    padding: 5px 10px;   
    outline: none; 
}

/* Interface add user*/

.add-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Inter-Tight';
    max-width: 800px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    padding: 30px;
    border-radius: 7px;
    font-size: 13px;
    font-style: italic;
    animation: zoom 2s alternate;
    background-color: #06706bce;
    box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.6);
}

.add-form .add-user-section{
    width: 50%;
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.add-form .add-user-section .icon{
    position: absolute;
    top: 37%;
    left: 33%;
    font-size: 12px;
}

.add-form .add-user-section label{
    display: inline-block;
    width: 70px;
    margin-right: 40px;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.9);
}



.add-form .add-user-section input,
.add-form .add-user-section select{
    height: 30px;
    flex: 1;
    outline: none;
    border: 1px;
    padding: 3px 20px;
    margin-right: 20px;
}

.add-form .add-user-section select{
    height: 35px;
}

.add-form .add-user-section input:focus,
.add-form .add-user-section select:focus{
    background-color: rgba(0, 0, 0, 0.6);
    color: aliceblue;
}

.add-form button{
    margin: 0 auto;
    margin-top: 20px;
    font-weight: bold;
}

.add-form button:hover{
    background-color: aliceblue;
    color: #06706a;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
}

@keyframes zoom {
    0% {
        transform: scale(0.3);
    }

    95% {
        transform: scale(1.06);
    }

    100%{
        transform: scale(1);
    }
}

/* Interface update user*/


.update-user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 440px;
    box-shadow: inset 0 0 7px #06706a;
    margin: 0 auto;
    margin-top: -80px;
    padding: 20px;
    border-radius: 6px;
    animation: come-in-right 3s alternate;
    background-color: #06706bce;
    box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.6);
    z-index: 100;
}



.update-user input,
.update-user select
{
    width: 45%;
    height: 15px;
    outline: none;
    border: none;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    padding: 8px;
    transition: all .3s;
    margin-top: 5px;
    margin-bottom: 20px;

}

.update-user select{
    height: 31px;
    width: 49%;
}

.update-user input:focus,
.update-user select:focus{
    background-color: rgba(0, 0, 0, 0.6);
    color: aliceblue;
}
.update-user button{
    margin-top: 8px;
    height: 30px;
}

.update-user button:hover{
    background-color: aliceblue;
    color: #06706a;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
}

@keyframes come-in-right {
    from{
        transform: translateY(1000px);
    }
    to{
        transform: translateY(0px);
    }
}


